body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('sprites/3. Background/Dark/completo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'LGuy', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 300;
    color: white;
    margin-top: 0;
}

.instruction-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sharkie {
    height: 300px;
    width: 300px;
    margin-top: -80px;
}

.endB {
    height: 400px;
    width: 450px;
    margin-top: -160px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

canvas {
    background-color: black;
    display: block;
    aspect-ratio: auto;
}

.start-btn {
    width: 200px;
}

.instructions {
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -500px;
    border: 4px solid #531a82;
    background-color: rgba(127, 255, 224, 0.5);
    border-radius: 24px;
}

.instructions h3 {
    color: white;
    font-size: 28px;
    margin: 0px;
}

.row-instructions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instructions-text {
    height: 40px;
    margin-left: 32px;
}

.width100 {
    width: 150px;
}

.width-arrow-keyes {
    width: 150px;
}

.instruction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.next-back-btn {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.next-btn-back-Btn {
    height: 48px;
    margin: 16px;
}

.hud-movement {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 330px;
}

.hud-element {
    display: flex;
    z-index: 100;
}

.hud-element button {
    background: none;
    border: none;
    margin-top: -54px;
}

.hud-element img {
    height: 32px;
}

.btns-row {
    display: flex;
    justify-content: center;
    /*margin-top: -100px;*/
    position: fixed;
    top: 35%;
    right: 46%;
}

.btns-row img {
    width: 200px;
    height: 60px;
}

.game {
    display: flex;
    flex-direction: column;
}

.d-none {
    display: none !important;
}

.game-over-section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.game-over-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-over-title {
    margin-bottom: 64px;
}

.row-game-over-btns {
    display: flex;
    flex-direction: row;
}

.restart-btn {
    height: 80px;
    margin-right: 48px;
    opacity: 0;
}

.home-btn {
    height: 80px;
    margin-left: 48px;
    opacity: 0;
}

.game-over {
    height: 150px;
}

.game-over-section-animation {
    animation: fadeInSection 2s forwards;
}

.info-btn {
    height: 32px;
}

.fullscreen-btn {
    height: 42px;
    margin-left: 16px;
}

.top-left-btns {
    display: flex;
    z-index: 500;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -60px;
    margin-right: 24px;
}

.d-key {
    height: 60px;
    margin-right: 60px;
}

@keyframes fadeInSection {
    from{opacity: 0;}
    to{opacity: 1;}
    
}

.game-over-text-animation {
    animation: sizeIn 2s linear;
}

@keyframes sizeIn {
    from {height: 1px;}
    to {height: 150px;}
}

.try-again-animation {
    animation: slideInLeft 2s forwards;
    animation-delay: 3s;
}

@keyframes slideInLeft {
    from {margin-right: 348px; opacity: 0;}
    to {margin-right: 48px; opacity: 1;}
}

.menu-button-animation {
    animation: slideInRight 2s forwards;
    animation-delay: 3s;
}

@keyframes slideInRight {
    from {margin-left: 348px; opacity: 0;}
    to {margin-left: 48px; opacity: 1;}
}

@font-face {
    font-family: 'LGuy';
    src: url('fonts/LuckiestGuy-Regular.ttf') format('truetype');
}

@media (max-width: 1890px) {
    .btns-row {
        right: 45%;
    }
}

@media (max-height: 1080px) {
    .heading {
        margin-bottom: -80px;
        z-index: 100;
    }

    .endb {
        margin-top: -130px;
    }

    .sharkie {
        margin-top: -60;
    }

    .instructions {
        margin: -460px 0;
        justify-content: space-evenly;
    }

    .row-instructions {
        flex-direction: row;
    }

    .width100 {
        height: 60px;
        width: 250px;
    }

    .instructions-text {
        height: 40px;
    }

    .width-arrow-keyes {
        width: 150px;
    }
}

@media (max-height: 1080px) and (max-width: 1080px) {
    .instructions {
        margin: -85px 0;
    }
}

/*@media (max-height: 858px) {
    canvas {
        height: 680px;
    }
    .heading {
        justify-content: center;
    }
    .endB {
        display: none;
    }
    .sharkie {
        display: none;
    }
}*/

@media (max-height: 1080px) and (max-width: 800px) {
    .instructions {
        margin: 0 0;
        margin-top: 40px;
    }
}

@media (max-width: 1500px) {
    .btns-row {
        right: 43%;
    }

    .width-arrow-keyes {
        width: 150px;
    }

    .instructions-text {
        height: 40px;
    }

    .width100 {
        width: 300px;
    }
}

@media (max-width: 1080px) {
    canvas {
        width: 100%;
    }

    .btns-row {
        right: 44%;
    }

    .btns-row img {
        width: 172px;
        height: 52px;
    }

    .heading {
        margin-top: -100px;
    }

    .endB {
        height: 300px;
        width: 350px;
    }

    .sharkie {
        height: 200px;
        width: 200px;
    }

    h1 {
        font-size: 60px;
        margin-right: -100px;
    }

    .instructions {
        width: 350px;
    }

    .instructions-text {
        margin-top: 8px;
        margin-left: 18px;
        margin-right: 0;
    }
    .game-over {
        height: 80px;
    }
    .home-btn {
        height: 40px;
    }
    .restart-btn {
        height: 40px;
    }
    @keyframes sizeIn {
        from {height: 1px;}
        to {height: 80px;}
    }
}

@media (max-width: 900px) {
    h1 {
        margin-right: -50px;
    }

    .endB {
        height: 250px;
        width: 300px;
    }

    .btns-row {
        right: 43%;
    }
}

@media (max-width: 800px) {
    h1 {
        margin-right: 0px;
    }

    .endB {
        display: none;
    }

    .sharkie {
        display: none;
    }

    .btns-row {
        right: 39%;
    }

    .heading {
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .width-arrow-keyes {
        width: 132px;
    }

    .width100 {
        width: 200px;
        height: 40px;
    }

    .instructions-text {
        height: 36px;
    }

    .instructions {
        margin-top: 0;
    }

    .btns-row {
        right: 35%;
    }
    .game-over {
        height: 60px;
    }
    .home-btn {
        height: 32px;
    }
    .restart-btn {
        height: 32px;
    }
    @keyframes sizeIn {
        from {height: 1px;}
        to {height: 60px;}
    }
    .info-btn {
        height: 24px;
    }
    
    .fullscreen-btn {
        height: 32px;
    }
}

@media (max-width: 550px) {
    .btns-row {
        right: 33%;
    }
    .game-over {
        height: 50px;
    }
    .home-btn {
        height: 28px;
    }
    .restart-btn {
        height: 28px;
    }
    @keyframes sizeIn {
        from {height: 1px;}
        to {height: 50px;}
    }
}

@media (max-width: 490px) {
    .btns-row img {
        width: 120px;
        height: 34px;
    }

    .btns-row {
        right: 36%;
    }
    
}

@media (max-width: 450px) {
    .row-instructions {
        justify-content: center;
        height: 124px;
    }

    .width100 {
        width: 125px;
        height: 24px;
    }

    .width-arrow-keyes {
        width: 88px;
    }

    .instructions-text {
        height: 16px;
    }

    h1 {
        font-size: 48px;
    }
    .game-over {
        height: 40px;
    }
    .home-btn {
        height: 24px;
    }
    .restart-btn {
        height: 24px;
    }
    @keyframes sizeIn {
        from {height: 1px;}
        to {height: 40px;}
    }
    .info-btn {
        height: 20px;
    }
    .fullscreen-btn {
        height: 26px;
    }
}

@media (max-width: 350px) {
    .btns-row {
        right: 34%;
    }

    .width100 {
        width: 100px;
        height: 20px;
    }

    .width-arrow-keyes {
        width: 72px;
    }

    .instructions-text {
        height: 14px;
    }
}

@media (max-width: 720px) and (orientation: landscape) {
    canvas {
        width: 100%;
        height: 100vh;
    }
    .instruction-column{
        display: none;
    }
}

@media (max-width: 950px) and (max-height: 500px) {
    canvas {
        width: 100%;
        height: 100vh;
    }
    .instruction-column {
        display: none;
    }
    .heading {
        display: none;
    }
}

/* Galaxy Fold */
@media (max-width:303px) {
    .instructions-text {
        height: 12px;
    }

    .btns-row img {
        width: 80px;
        height: 24px;
    }

    .heading {
        margin-top: -150px;
    }
    .game-over {
        height: 30px;
    }
    .home-btn {
        height: 18px;
    }
    .restart-btn {
        height: 18px;
    }
    @keyframes sizeIn {
        from {height: 1px;}
        to {height: 30px;}
    }
}