body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('sprites/3. Background/Dark/completo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'LGuy', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 300;
    color: white;
    margin-top: 0;
}

.instruction-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sharkie {
    height: 300px;
    width: 300px;
    margin-top: -80px;
}

.endB {
    height: 400px;
    width: 450px;
    margin-top: -160px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

canvas {
    background-color: black;
    display: block;
    aspect-ratio: auto;
}

.start-btn {
    width: 200px;
}

.instructions {
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -500px;
    border: 4px solid #531a82;
    background-color: rgba(127, 255, 224, 0.5);
    border-radius: 24px;
}

.instructions h3 {
    color: white;
    font-size: 28px;
    margin: 0px;
    margin-top: 16px;
}

.row-instructions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instructions-text {
    height: 40px;
    margin-left: 32px;
}

.width100 {
    width: 150px;
}

.width-arrow-keyes {
    width: 150px;
}

.instruction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.next-back-btn {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.next-btn-back-Btn {
    height: 48px;
    margin: 16px;
}

.hud-movement {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 390px;
}

.hud-element {
    display: flex;
    z-index: 100;
}

.hud-element button {
    background: none;
    border: none;
    margin-top: -54px;
}

.hud-element img {
    height: 48px;
}

.btns-row {
    display: flex;
    justify-content: center;
    /*margin-top: -100px;*/
    position: fixed;
    top: 35%;
    right: 46%;
}

.btns-row img {
    width: 200px;
    height: 60px;
}

.game {
    display: flex;
    flex-direction: column;
}

.d-none {
    display: none !important;
}

.game-over-section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 501;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.game-over-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-over-title {
    margin-bottom: 64px;
}

.row-game-over-btns {
    display: flex;
    flex-direction: row;
}

.restart-btn {
    height: 80px;
    margin-right: 48px;
    opacity: 0;
}

.home-btn {
    height: 80px;
    margin-left: 48px;
    opacity: 0;
}

.game-over {
    height: 150px;
}

.game-over-section-animation {
    animation: fadeInSection 2s forwards;
}

.info-btn {
    height: 32px;
}

.mute-switch {
    height: 42px;
    margin-left: 18px;
}

.fullscreen-btn {
    height: 42px;
    margin-left: 16px;
}

.top-left-btns {
    display: flex;
    z-index: 500;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -60px;
    margin-right: 24px;
}

.d-key {
    height: 60px;
    margin-right: 60px;
}

@keyframes fadeInSection {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.game-over-text-animation {
    animation: sizeIn 2s linear;
}

@keyframes sizeIn {
    from {
        height: 1px;
    }

    to {
        height: 150px;
    }
}

.try-again-animation {
    animation: slideInLeft 2s forwards;
    animation-delay: 3s;
}

@keyframes slideInLeft {
    from {
        margin-right: 348px;
        opacity: 0;
    }

    to {
        margin-right: 48px;
        opacity: 1;
    }
}

.menu-button-animation {
    animation: slideInRight 2s forwards;
    animation-delay: 3s;
}

@keyframes slideInRight {
    from {
        margin-left: 348px;
        opacity: 0;
    }

    to {
        margin-left: 48px;
        opacity: 1;
    }
}

@font-face {
    font-family: 'LGuy';
    src: url('fonts/LuckiestGuy-Regular.ttf') format('truetype');
}

@media (max-width: 1890px) {
    .btns-row {
        right: 45%;
    }
}

@media (max-height: 1080px) {
    .heading {
        margin-bottom: -80px;
        z-index: 100;
    }

    .endb {
        margin-top: -130px;
    }

    .sharkie {
        margin-top: -60;
    }

    .instructions {
        margin: -460px 0;
    }

    .row-instructions {
        flex-direction: row;
    }

    .width100 {
        width: 128px;
    }

    .instructions-text {
        height: 40px;
    }

    .width-arrow-keyes {
        width: 150px;
    }
}

@media (max-width: 1500px) {
    .btns-row {
        right: 43%;
    }

    .width-arrow-keyes {
        width: 150px;
    }

    .instructions-text {
        height: 40px;
    }
}

@media (max-width: 1080px) {
    canvas {
        width: 100%;
    }

    .hud-element button {
        margin-top: -128px;
    }

    .hud-element img {
        height: 60px;
    }

    .btns-row {
        right: 44%;
    }

    .btns-row img {
        width: 172px;
        height: 52px;
    }

    .heading {
        margin-top: -150px;
    }

    .endB {
        height: 300px;
        width: 350px;
    }

    .sharkie {
        height: 200px;
        width: 200px;
    }

    h1 {
        font-size: 60px;
        margin-right: -100px;
    }

    .instructions {
        width: 350px;
    }

    .instructions-text {
        margin-left: 18px;
        margin-right: 0;
    }

    .game-over {
        height: 80px;
    }

    .home-btn {
        height: 40px;
    }

    .restart-btn {
        height: 40px;
    }

    @keyframes sizeIn {
        from {
            height: 1px;
        }

        to {
            height: 80px;
        }
    }
}

@media (max-width: 900px) {
    h1 {
        margin-right: -50px;
    }

    .endB {
        height: 250px;
        width: 300px;
    }

    .btns-row {
        right: 43%;
    }

    .hud-movement {
        gap: 360px;
    }

    .hud-element img {
        height: 36px;
    }

    .hud-element button {
        margin-top: -68px;
    }
}

@media (max-width: 800px) {
    h1 {
        margin-right: 0px;
    }

    .endB {
        display: none;
    }

    .sharkie {
        display: none;
    }

    .btns-row {
        right: 39%;
    }

    .heading {
        justify-content: center;
    }

    .instructions {
        width: 260px;
        height: 300px;
        margin-top: -400px;
    }

    .instructions-text {
        height: 24px;
    }

    .width-arrow-keyes {
        height: 60px;
        width: auto;
    }

    .next-btn-back-Btn {
        height: 32px;
    }

    .instructions h3 {
        font-size: 24px;
    }

    .width100 {
        width: 104px;
    }

    .d-key {
        height: 40px;
        margin-right: 38px;
    }

}

@media (max-width: 650px) {
    .btns-row {
        right: 35%;
        top: 45%;
    }

    .instructions {
        margin-top: -345px;
    }

    .game-over {
        height: 60px;
    }

    .home-btn {
        height: 32px;
    }

    .restart-btn {
        height: 32px;
    }

    @keyframes sizeIn {
        from {
            height: 1px;
        }

        to {
            height: 60px;
        }
    }

    .info-btn {
        height: 24px;
    }

    .fullscreen-btn {
        height: 32px;
    }

    .hud-movement {
        gap: 300px;
    }
}

@media (max-width: 550px) {
    .btns-row {
        right: 33%;
    }

    .hud-movement {
        gap: 218px;
    }

    .game-over {
        height: 50px;
    }

    .home-btn {
        height: 28px;
    }

    .restart-btn {
        height: 28px;
    }

    @keyframes sizeIn {
        from {
            height: 1px;
        }

        to {
            height: 50px;
        }
    }

    .instructions {
        margin-top: -280px;
        width: 200px;
        height: 210px;
    }

    .width-arrow-keyes {
        height: 40px;
    }

    .instructions-text {
        height: 20px;
    }

    .instructions h3 {
        font-size: 20px;
    }

    .next-btn-back-Btn {
        height: 24px;

    }

    .width100 {
        width: 72px;
    }

    .d-key {
        height: 24px;
        margin-right: 28px;
    }
}

@media (max-width: 490px) {
    .btns-row img {
        width: 120px;
        height: 34px;
    }

    .btns-row {
        right: 36%;
    }

}

@media (max-width: 450px) {
    .row-instructions {
        justify-content: center;
        height: 124px;
    }

    .hud-movement {
        gap: 190px;
    }

    .hud-element img {
        height: 22px;
    }

    .instructions {
        height: 186px;
        width: 156px;
        margin-top: -242px;
    }

    .instructions-text {
        height: 16px;
        margin-left: 12px;
    }

    .width100 {
        width: 60px;
    }

    .d-key {
        height: 20px;
        margin-right: 26px;
    }

    h1 {
        font-size: 48px;
    }

    .game-over {
        height: 40px;
    }

    .home-btn {
        height: 24px;
    }

    .restart-btn {
        height: 24px;
    }

    @keyframes sizeIn {
        from {
            height: 1px;
        }

        to {
            height: 40px;
        }
    }

    .info-btn {
        height: 20px;
    }

    .fullscreen-btn {
        height: 26px;
    }

    .top-left-btns {
        margin-bottom: -36px;
        margin-right: 12px;
        z-index: 200;
    }

    .btns-row {
        z-index: 400;
        top: 45%;
    }
}

@media (max-width: 400px) {
    .instructions {
        width: 140px;
        height: 160px;
        margin-top: -214px;
    }

    .instructions-text {
        margin-left: 6px;
        height: 14px;
    }

    .next-btn-back-Btn {
        height: 18px;
        margin: 12px;
    }

    .instructions h3 {
        font-size: 16px;
        margin-top: 8px;
    }

    .hud-element button {
        margin-top: -54px;
    }
}

@media (max-width: 350px) {
    .btns-row {
        right: 34%;
    }

    .instructions {
        margin-top: -180px;
    }

    .info-btn {
        height: 18px;
    }

    .fullscreen-btn {
        height: 22px;
    }

    .top-left-btns {
        margin-bottom: -30px;
    }
}

@media (max-width: 720px) and (orientation: landscape) {
    canvas {
        width: 100%;
        height: 100vh;
    }

}

@media (max-width: 950px) and (max-height: 500px) {
    canvas {
        width: 100%;
        height: 94vh;
    }

    .instructions {
        margin-top: -330px;
    }

    .heading {
        display: none;
    }
}

/*iPhone XR*/
@media (max-width: 920px) and (max-height: 414px) {
    .instructions {
        height: 320px;
        margin-top: -350px;
    }

    .btns-row {
        right: 41%;
    }

}

/* Galaxy Fold */
@media (max-width:303px) {
    .instructions-text {
        height: 12px;
    }

    .btns-row img {
        width: 80px;
        height: 24px;
    }

    .heading {
        margin-top: -150px;
    }

    .game-over {
        height: 30px;
    }

    .home-btn {
        height: 18px;
    }

    .restart-btn {
        height: 18px;
    }

    @keyframes sizeIn {
        from {
            height: 1px;
        }

        to {
            height: 30px;
        }
    }

    .instructions {
        height: 132px;
        width: 129px;
        margin-top: -174px;
    }

    .hud-movement {
        gap: 112px;
    }

    .hud-element img {
        height: 16px;
    }
}


/*Please Rotate Your Device*/

.rotate-device {
    background-color: black;
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone {
    height: 50px;
    width: 100px;
    border: 3px solid white;
    border-radius: 10px;
    animation: rotate 2.5s ease-in-out infinite alternate;

}

.message {
    color: white;
    font-size: 1em;
    margin-top: 40px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-90deg)
    }

    100% {
        transform: rotate(-90deg)
    }
}

@media (max-width: 812px) and (orientation: portrait) {
    .rotate-device {
        display: flex;
    }
}